/* @media only screen  and (max-width : 1283px) {
 

    header .navbar .social {

        padding: 0px 10px;
       
        margin-top: 11px;
        }
        header .navbar{
            background-color:#090909;
            padding: 12px 0px;
            position: fixed;
            overflow: hidden;
            width: 100%;
        }
   
      header .navbar img{
        width: 22%;
       
    }
}
    @media only screen  and (max-width :768px){


        header .navbar .social {

             display: none;
            }
            header .navbar{
                background-color: #090909;
                padding: 0px 32px;
                position: fixed;
                overflow: hidden;
                width: 100%;
            }
            .banner {
             
                height: 30vh;
              
            }
          header .navbar img{
            width: 75%;
           
        }
        header .navbar .nav-btn{
            color: #fff;
            border: 1px solid #ddd;
            border-radius: 7px;
            padding: 10px 12px;
            font-size: 17px;
            margin-top: 10px!important;
            transition: .4s;
            display: none;
        }
        .About{
  
            background-color: #ddd;
            padding: 46px 0px 13px 33px !important;
        
        }
      .Service .battan .btn {
        padding: 10px 11px !important;

      }  

.Portfolio .portfolio-item .img-item::after {
        content: "";   
        display: block;    
        clear: both;    
        position: absolute;   
        left: 0%;    
        right: 0;   
        top:0%;    
        bottom: 0;    
       background-color:rgba(0, 0, 0, .4);
        height: 100%;   
        width:100%;
        border-radius: 9px; 
    
     } 
     .contact-us .contact-info {
        margin-left: 10px !important;
     }
     .contact-us .btn{
         margin-bottom: 10px;
         width: 50% !important;
         margin-left: 169px;
     }
     .Portfolio .portfolio-item{
        position: relative;
        margin-bottom: 30px;
        
     } 
     .my-team h2{
        border-bottom: 1px solid red;
        width: 29%;
        margin: auto;
    } 
     footer p{
        color: #fff;
        line-height: 66px;
        font-size: 21px;
        text-align: center;
    }

    .my-team {
        text-align: center;
        padding: 100px 0px;
        overflow: hidden;
    }






    }  


@media only screen  and (max-width:710px){
        .my-team {
            text-align: center;
            padding: 100px 0px;
            overflow: hidden;
        }

    }
    @media only screen  and (max-width:500px){
        header .navbar img {
            width: 29%;
        }.banner {
          
            height: 37vh;
            position: relative;
           
        }

    }  
    @media (max-width: 443px){
        .navbar-toggler.d-lg-none.collapsed {
            margin-left: auto;
            display: inline;
            display: inline-block;
            width: 17%;
            margin-top: -25%;
        }
    }

    @media (max-width: 419px) {
        .button .btn {
            position: relative;
            z-index: 2;
            width: 100%;
            margin-bottom: 13px;
            margin-left: -5px !important;
        }.button .btn {
            position: relative;
            z-index: 2;
            margin-top: 12px;
            width: 100%;
            margin-left: -18px;
            margin-left: -16px;
            margin-left: -12px !important;
        }
        .button {
            display: inline;
            margin: lef;
             margin-left: -3px;
            margin-left: 8px;
            width: 122%;
        }
    }
@media only screen  and (max-width:400px){
    .navbar-dark .navbar-toggler {
      
        margin-left: 245px;
        margin-top: -92px;
    }
    .banner .banner-text h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 81px;
    }

    .button {
        display: inline;
        margin: lef;
        
        margin-left: 8px;
        width: 122%;
    }
    .banner {
    
        height: 25vh;
        
    }
    .button .btn {
      
        margin-top: 12px;
        width: 100%;
        margin-left: -18px;
        margin-left: -16px;
        margin-left: -12px !important;
    }
    
    .button .btn {
        position: relative;
        z-index: 2;
        margin-top: 12px;
        width: 100%;
        margin-left: -18px;
        margin-left: -16px;
        margin-left: -12px !important;
    }
    .Service p {
        width: 97%;
        margin: auto;
        margin-top: 23px;
        line-height: 31px;
    }
    .battan.mx-auto {
        width: 35%;
        margin-top: 39px;
    }
    hr {
        width: 21%;
        border-bottom: 2px solid red;
        margin: auto;
       height: 2px; 
   }.skill .skill-test p {
        font-size: 16px;
        line-height: 26px;
        margin-top: 14px;
        text-align: center;
    }.skill .skill-test h2 {
    
        text-align: center;
    }
    .skill .grap3 .grap-in::after {
       
        width: 87%;
       
    }
    .my-team h2 {
        border-bottom: 1px solid red;
        width: 32%;
        margin: auto;
    }.contact-us .btn {
        margin-bottom: 10px;
        width: 50% !important;
        margin-left: 88px;
    }footer .social {
        padding: 0px 35px;
        margin-top: 11px;
        margin-left: 7px !important;
        margin-left: 32px;
    }
    }
@media (max-width: 345px){
        .navbar-dark .navbar-toggler {
      
            margin-left: 195px;
            margin-top: -92px;
        }
        .banner .banner-text h1 {
            font-size: 28px;
            font-weight: 700;
            line-height: 55px;
            width: 100%;
        }
        footer .social {
            padding: 0px 6px;
            margin-top: 11px;
            margin-left: 0px !important;
            margin-left: 32px;
            width: 100%;
        }.battan.mx-auto {
            width: 45%;
            margin-top: 39px;
        }



    }
     */

@media (max-width: 360px) {

    .banner .banner-text h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 81px;
    }
    .navbar-brand {
        width: 65%;
    }
    .navbar-toggler {
        width: 25%;
    }
    .btn {
        margin-top: 11px;
    }
    .battan.mx-auto {
        width: 41%;
        margin-top: 39px;
    }
    footer .social {
        padding: 0px 35px;
        margin-top: 11px;
        
    }
    footer p {
        color: #fff;
        margin-top: 15px;
        font-size: 14px;
    }
    footer .social {
        padding: 0px 35px;
        margin-top: 11px;
        width: 92%;
        margin: auto;
    }
    .btn5 {
        margin-left: 6%;
    }
    .banner {
        background-image: url(img/img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
 
        height: 80vh;
        position: relative;
        color: #fff;
        z-index: 5;
        position: relative;
    }
 }
